
.main{
    width: 500px;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
    background: linear-gradient(#e66465, #9198e5);
}
.image img{
    border-radius: 50%;
}
.socialmediaicons{
    margin-top: 40px;
}
.socialmediaicons a{
    margin: 17px;
}
.btn a{color: white;
    text-decoration: none;
}
.btn{
    color: white;
    background: linear-gradient(45deg, red, blue);
    border: none;
    padding: 15px 30px;
    border-radius: 40px;
    margin: 40px 0 20px 0;
}
@media screen and (max-width:600px){
    .main{
        width: 350px;
    }
}
@media screen and (max-width:450px){
    .main{
        width: 300px;
    }
}
